::-webkit-scrollbar {
display: none;
}

html{
  margin: 0;
  padding: 0;
}
body{
  background: rgba(7,25,36,1);
  background: -moz-linear-gradient(45deg, rgba(7,25,36,1) 0%, rgba(51,106,145,1) 81%, rgba(51,106,145,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(7,25,36,1)), color-stop(81%, rgba(51,106,145,1)), color-stop(100%, rgba(51,106,145,1)));
  background: -webkit-linear-gradient(45deg, rgba(7,25,36,1) 0%, rgba(51,106,145,1) 81%, rgba(51,106,145,1) 100%);
  background: -o-linear-gradient(45deg, rgba(7,25,36,1) 0%, rgba(51,106,145,1) 81%, rgba(51,106,145,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(7,25,36,1) 0%, rgba(51,106,145,1) 81%, rgba(51,106,145,1) 100%);
  background: linear-gradient(45deg, rgba(7,25,36,1) 0%, rgba(51,106,145,1) 81%, rgba(51,106,145,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#071924', endColorstr='#336a91', GradientType=1 );
  background-attachment: fixed;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

/*Card Design*/
.event-page{
  margin-top: 0;
  overflow: auto;
}

.event-page .event-head{
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  color: #eee;
  text-align: center;
  background: #2a3c52;
  box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.3);
}
.event-page .event-head h1{
  margin: 0;
}
.event-page .back-button{
  position: absolute;
  top: 35%;
  left: 20px;
  font-size: 20px;
}
.event-head a{
  color: #fff;
}
.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 70px;
    padding-top: 100px;
}

/*Cards*/

@media only screen and (min-width: 320px) {
    /*Single in blocks */
    .card {
        display: flex;
        width: 100%;
        height: 120px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        background: white;
        border-radius: 3px;
        align-items: center;
    }
    .card .thumb {
        margin: 5px;
        margin-left: 0;
        height: 100%;
        width: 30%;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .card .content {
        width: 100%;
    }
    .card h2 {
        padding: 10px 0 5px 0;
        margin: 0;
    }
    .card p {
        margin: 0;
        padding: 0 5px 5px 0;
        font-size: 12px;
        overflow: hidden;
    }
}

@media only screen and (min-width:480px and max-width:600px) {
    .card {
        margin: auto;
    }
}

@media only screen and (min-width: 720px) {
    /*two in a row ....large design*/
    .card {
        flex-direction: column;
        width: 240px;
        height: 350px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
    }
    .card .thumb {
        height: 150px;
        width: 100%;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0;
        margin: 0;
    }
    .card h2, .card p {
        padding: 10px 10px;
    }
    .card p {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1150px) {
    .events {
        width: 1150px;
        margin: auto;
    }
}

.card {
    cursor: pointer;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 200ms;
}

.card:hover {
    box-shadow: 0 20px 7px -10px rgba(0, 0, 0, 0.2);
    transform: translate(0, -2px) scale(1.01);
}

.card h2 {
    color: #555;
    text-transform: uppercase;
}

.card h2:hover {
    color: #000
}

.card p {
    color: #666;
}

.art .thumb {
    background-image: url(../images/events/art.jpg);
    background-size: cover;
}

.technical .thumb {
    background-image: url(../images/events/technical.jpg);
    background-size: cover;
}

.gaming .thumb {
    background-image: url(../images/events/gaming.jpeg);
    background-size: cover;
}

.music .thumb {
    background-image: url(../images/events/music.jpg);
    background-size: cover;
}

.kannada .thumb {
    background-image: url(../images/events/kannada.png);
    background-size: cover;
}

.dance .thumb {
    background-image: url(../images/events/dance.jpg);
    background-size: cover;
}

.informal .thumb {
    background-image: url(../images/events/informal.jpg);
    background-size: cover;
}

.theater .thumb {
    background-image: url(../images/events/theater.jpg);
    background-size: cover;
}

.literary .thumb {
    background-image: url(../images/events/literary.jpg);
    background-size: cover;
}


/*Modal and overlay*/

.overlay {
  height: 100vmax;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9997;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0,0,0,0.7);
  overflow-y: scroll;
}

.modal-close {
    float: right;
    width: 10%;
    padding: 20px 5px;
    cursor: pointer;
}

.modal-back {
    display: none;
    float: left;
    width: 10%;
    padding: 20px 5px;
}


/*Media for mobile*/

@media only screen and (min-width: 320px) {
    .event-modal {
        position: absolute;
        width: 90%;
        top: 20px;
        left: 50%;
        transform: translate(-50%,0);
        background: #fff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
    }
    .modal-head {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .event-names ul {
        width: 100%;
        list-style-type: none;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 0px;
    }
    .event-names ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        text-align: center;
        margin: 5% 0;
        color: #555;
    }
    li img {
        /*background: url(../image/thumb.png);
        background-size: cover;*/
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 3px;
    }
    .event {
        display: none;
        padding: 10px;
    }
}

@media only screen and (min-width: 500px) {
    li img {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (min-width: 600px) {
    .event-names ul li {
        width: 33%;
    }
}

@media only screen and (min-width:720px) {
    .event-modal {
        height: auto;
        padding: 0;
    }
    .modal-head {
        color: white;
        max-height: 70px;
        background: #00bf8f;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .categories {
        display: flex;
        flex-direction: row;
    }
    .event-names {
        background: #fff;
        display: flex;
        flex: 2;
        border-bottom-left-radius: 5px;
    }
    .event-names ul {
      display: block;
    }
    .event-names ul li {
        padding: 3px 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
    .event-names ul li:hover, li:active {
        background: #eee;
    }
    .event-names ul li img {
        margin: 0 5px;
    }
    .event {
        flex: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 10px;
        background: #eee;
        border-bottom-right-radius: 5px;
    }
    li img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (min-width:760px) {
    .overlay {
        height: 100vmin;
    }
}
@media only screen and (min-width:900px) {
  .event-modal{
    width:800px;
    margin: auto;
  }
}
